//- views/login.jade
doctype html
html
  head
    title My Application
    link(rel='icon', href='https://img.icons8.com/?size=100&id=80449&format=png&color=000000', type='image/x-icon')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css')
    style.
      body{
        text-color:white;
      }
      p{
        padding-top: 1em;
      }
      input[type="submit"]{
        padding: 5px;
        background-color: green;
      }
  body.flex.max-w-full.bg-gray-800.text-white.items-center.justify-center.h-screen
    form(method="POST", action="/")
        input(type="hidden", name="_method", value="PUT")
        p Name
        input(type="text", name="name")
        p Password
        input(type="password", name="password")
        p
        input(type="submit")
